<h2 class="animated fadeIn">Estudiantes de la materia INF-162</h2>
<div class="card-columns center-block">
  <div class="card pt-1 pr-1 pl-1 animated fadeIn fast">
    <img class="card-img-top" src="assets/img-profile/boris.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Boris Vargas Paucara</h5>
      <p class="card-text"><small class="text-muted">borisvargaspaucara@gmail.com   <button type="button" class="btn btn-link espacio text-right" [routerLink]="['/list']">ADMINISTRADOR</button></small></p>
    </div>
  </div>

  <div class="card p-3 animated fadeIn fast">
    <img class="card-img-top" src="assets/img-profile/sin-perfil.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Limber Alberto Choque Quisbert</h5>
      <p class="card-text"><small class="text-muted">mig4121@gmail.com</small></p>
    </div>
  </div>

  <div class="card animated fadeIn fast">
    <img class="card-img-top" src="assets/img-profile/sin-perfil.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Efrain Callisaya Callizaya</h5>
      <p class="card-text"><small class="text-muted">efra3x.08@gmail.com</small></p>
    </div>
  </div>

  <div class="card p-3 animated fadeIn fast">
    <img class="card-img-top" src="assets/img-profile/sin-perfil.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Hans Rodrigo Cuentas Pinto</h5>
      <p class="card-text"><small class="text-muted">hrcuentas@gmail.com</small></p>
    </div>
  </div>

  <div class="card animated fadeIn fast">
    <img class="card-img-top" src="assets/img-profile/sin-perfil.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Wilson Cesar Vargas Villarreal</h5>
      <p class="card-text"><small class="text-muted">matseko445@gmail.com</small></p>
    </div>
  </div>
</div>