 <!-- Footer -->
 <footer class="footer">
    <div class="row">
        <div class="col-md-2 col-sm-3 d-none d-md-block animated fadeIn fast">
            <img src="assets/logo/logo1.png" alt="logo1" class="img-fluid d-block w-75">
        </div>
        <div class="col-md-8 col-sm-6 text-left animated fadeIn">
            <p>UNIVERSIDAD MAYOR DE SAN ANDRES</p>
            <p>AV. VILLAZÓN NRO 1995 MONOBLOCK CENTRAL, SEGUNDO PATIO, EDIF. CARRERA DE INFORMÁTICA <br>
            TELÉFONO 2440338 – 2440325 – 2441422 FAX 2441422 <br>
            e-mail : informatica@informatica.edu.bo</p>
        </div>
        <div class="col-md-2 col-sm-3 d-none d-md-block animated fadeIn fast">
            <img src="assets/logo/logo2.png" alt="logo2" class="img-fluid d-block w-75">
        </div>

    </div>
</footer>