 <!-- Footer -->
 <footer class="footer">
     <div class="row">
         <div class="col-12 col-md-6 col-lg-3 mt-3 text-justify pl-0">
            <h5 class="espacio">Servicio al cliente</h5>
            <li><button type="button" class="btn btn-link espacio text-dark" [routerLink]="['/about']">Contactos</button></li>
            <li><button type="button" class="btn btn-link espacio text-dark">Preguntas Frecuentes</button></li>
            <li><button type="button" class="btn btn-link espacio text-dark">Términos y Condiciones</button></li>
            <li><button type="button" class="btn btn-link espacio text-dark">Politicas de privacidad</button></li>
         </div>
         <div class="col-12 col-md-6 col-lg-3 mt-3 text-justify pl-0">
            <h5 class="espacio">Herramientas y consejos</h5>
            <li><button type="button" class="btn btn-link espacio text-dark">Cambios/Cancelacion de Tickets</button></li>
            <li><button type="button" class="btn btn-link espacio text-dark">Comision</button></li>
            <li><button type="button" class="btn btn-link espacio text-dark">Explicación de los tipos de asientos</button></li>
            <li><button type="button" class="btn btn-link espacio text-dark">Operadores de bus</button></li>
         </div>
         <div class="col-12 col-md-6 col-lg-3 mt-3 text-justify pl-0">
            <h5 class="espacio">Sobre nosotros</h5>
            <li><button type="button" class="btn btn-link espacio text-dark">Acera de Obiguan</button></li>
            <li><button type="button" class="btn btn-link espacio text-dark">Blog y Noticias</button></li>
            <li><button type="button" class="btn btn-link espacio text-dark">Lista de rutas en bus</button></li>
         </div>
         <div class="col-12 col-md-6 col-lg-3 mt-3 text-justify pl-0">
            <h5 class="espacio">¡Forma parte de nuestro equipo!</h5>
            <small>Recibe información de cómo puedes formar parte de Obiguan</small>
            <button type="button" class="btn btn-secondary btn-block">Programa de socios</button>
            <div class=" pt-2 text-center">
                <a href="https://www.facebook.com/" target="_blank" class="px-1"><img src="assets/img/p1.png" alt="facebook"></a>
                <a href="https://www.google.com.bo/" target="_blank" class="px-1"><img src="assets/img/p2.png" alt="google"></a>
                <a href="https://twitter.com/" target="_blank" class="px-1"><img src="assets/img/p3.png" alt="tiwiter"></a>
                <a href="https://www.instagram.com/" target="_blank" class="px-1"><img src="assets/img/p4.png" alt="instagram"></a>
            </div>
         </div>
     </div>
    <div class="row">
        <div class="col-md-3 col-lg-2 d-none d-md-block animated fadeIn fast">
            <img src="assets/logo/logo1.png" alt="logo1" class="img-fluid d-block w-auto">
        </div>
        <div class="col-md-6 col-lg-8 text-center mx-auto animated fadeIn">
            <div class="text-center py-2 mx-auto">
                <img src="assets/img/s1.png" alt="imagen1" class="px-1">
                <img src="assets/img/s2.png" alt="imagen2" class="px-1">
                <img src="assets/img/s3.png" alt="imagen3" class="px-1">
                <img src="assets/img/s4.png" alt="imagen4" class="px-1">
                <img src="assets/img/s5.png" alt="imagen5" class="px-1">
                <img src="assets/img/s6.png" alt="imagen6" class="px-1">
                <img src="assets/img/s7.png" alt="imagen7" class="px-1">
            </div>
            <p>UNIVERSIDAD MAYOR DE SAN ANDRES</p>
            <p>AV. VILLAZÓN NRO 1995 MONOBLOCK CENTRAL, SEGUNDO PATIO, EDIF. CARRERA DE INFORMÁTICA <br>
            TELÉFONO 2440338 – 2440325 – 2441422 FAX 2441422 <br>
            e-mail : informatica@informatica.edu.bo</p>
        </div>
        <div class="col-md-3 col-lg-2 d-none d-md-block animated fadeIn fast">
            <img src="assets/logo/logo2.png" alt="logo2" class="img-fluid d-block w-auto">
        </div>
    </div>
    <small>&copy; 2018 Obiguan.com • Todos los derechos reservados • El uso de este sitio está sujeto a nuestros <a href="#" class="text-info">Términos y Condiciones.</a></small>
</footer>