<h5>DATOS DE LA TARJETA DE CREDITO</h5>
<form action="#" class="credit-card-div">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row ">
        <div class="col-12 col-md-12">
          <input
            type="text"
            class="form-control"
            placeholder="Ingrese el número de tarjeta"
            maxlength="16"
          />
        </div>
      </div>
      <div class="row ">
        <div class="col-3 col-md-3 col-sm-3 col-xs-3">
          <span class="help-block text-muted small-font"> Mes de vencimiento</span>
          <input type="text" class="form-control" placeholder="MM" maxlength="2" />
        </div>
        <div class="col-3 col-md-3 col-sm-3 col-xs-3">
          <span class="help-block text-muted small-font"> Año de expiración</span>
          <input type="text" class="form-control" placeholder="YY" maxlength="2" />
        </div>
        <div class="col-3 col-md-3 col-sm-3 col-xs-3">
          <span class="help-block text-muted small-font"> CCV</span>
          <input type="text" class="form-control" placeholder="CCV" maxlength="3" />
        </div>
        <div class="col-3 col-md-3 col-sm-3 col-xs-3">
          <img src="assets/logo/credit-card.png" class="img-rounded" style=" width: 15mm;" />
        </div>
      </div>
      
      <div class="row pl-3">
        <div class="col-md-12 pad-adjust">
          <div class="checkbox">
            <label>
              <input type="checkbox" checked class="text-muted" /> Guardar detalles para pagos rápidos <a href="#"> aprender cómo ?</a>
            </label>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-6 col-md-6 col-sm-6 col-xs-6 pad-adjust">
          <input type="submit" class="btn btn-danger btn-block" value="CANCELAR" data-dismiss="modal" />
        </div>
        <div class="col-6 col-md-6 col-sm-6 col-xs-6 pad-adjust">
          <input
            type="submit"
            class="btn btn-warning btn-block"
            value="PAGAR AHORA"
            data-dismiss="modal"
          />
        </div>
      </div>
    </div>
  </div>
</form>
