.ng-invalid.ng-touched:not(form) {
    border: 2px solid red;
}
agm-map{
    height: 300px;
}
.fondoDes {
    background: rgb(235, 235, 235);
}
.fondoForm {
    /* background: rgb(211, 208, 207); */
    background: rgb(235, 235, 235);
}