<div class="row">
    <h1 class="mx-auto animated fadeIn"><span class="text-muted">Empresa </span>OBIGUAN</h1>
</div>
<div class="row">
    <h5 class="mx-auto animated">Venta y reserva de boletos</h5>
</div>
<div class="row pr-lg-3 py-2">
        <div class="col-md-12 col-lg-8 animated fadeIn fast mb-3 my-auto">
            <div class="carousel slide" id="demo" data-ride="carousel">
                <!--indicadores-->
                <ul class="carousel-indicators">
                    <li data-target="demo" data-slider-to="0" class="active"></li>
                    <li data-target="demo" data-slider-to="1"></li>
                    <li data-target="demo" data-slider-to="2"></li>
                    <li data-target="demo" data-slider-to="3"></li>
                </ul>
                <!--imagenes-->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/img/img1.jpeg" alt="imagen1" class="img-fluid d-block w-100">
                        <div class="carousel-caption">
                            <h3>TERMINAL DE BUSES</h3>
                            <p>Esta ubicada en la ciudad de LA PAZ</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/img2.jpeg" alt="imagen2" class="img-fluid d-block w-100">
                        <div class="carousel-caption">
                            <h3>DISTINTOS TIPO DE BUSES</h3>
                           <p>Tenemos varios tipos de buses para viajar</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/img3.jpeg" alt="imagen3" class="img-fluid d-block w-100">
                        <div class="carousel-caption">
                            <h3>LA TERMINAL TIENE VARIAS TIENDAS</h3>
                            <p>Donde uno puede comprar muchas cosas necesarias para el viaje</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/img4.jpeg" alt="imagen4" class="img-fluid d-block w-100">
                        <div class="carousel-caption">
                            <h3>Asientos de espera</h3>
                            <p>Posee asientos de espera</p>
                           </div>
                    </div>
                </div>
                <!--controles de la izquieda y derecha-->
                <a href="#demo" class="carousel-control-prev" data-slide="prev"><span class="carousel-control-prev-icon"></span></a>
                <a href="#demo" class="carousel-control-next" data-slide="next"><span class="carousel-control-next-icon"></span></a>
            </div>
        </div>

        <div class="card border-dark mb-3 col-md-12 col-lg-4 my-auto fondoDes">
            <h2 class="pt-3">obiguan.com</h2>
            <p><small>Obiguan es una empresa líder de transacciones en línea que usa tecnología inovadora para permitir a sus clientes planificar, buscar, comparar y comprar una amplia gama de pasajes en bus. Obiguan tiene un acuerdo comprehensivo con operadores de bus y otros proveedores de servicios turísticos para asegurar que todos nuestros clientes tengan una gran experiencia.</small></p>
            <p><small>Obiguan se en foca en el mercado boliviano pero sus clientes son principalmente turistas extranjeros y visitantes que buscan la mejor experiencia de viaje posible</small></p>
            <hr class="mb-4">
            <p>Servicios de viaje en línea</p>
            <a class="btn btn-dark mb-2" [routerLink]="['/about']" role="button">Ver más</a>
        </div>
  
</div>
<div class="row pt-lg-4 pt-2 pr-lg-3 py-2">
    <!-- GOOGLE MAP -->
    <div class="col-md-12 col-lg-6">
        <h3>Terminal de Buses La Paz</h3>
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
    </div>
    <!-- TABS -->
    <div class="card border-dark col-md-12 col-lg-6 pb-1 fondoForm">
        <ul class="nav nav-tabs justify-content-center mx-auto">
            <li class="nav-item">
                <a class="nav-link btn-outline-dark active show" data-toggle="tab" href="#hacer_reserva">HACER RESERVA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-outline-dark" data-toggle="tab" href="#modificar_reserva">MODIFICAR RESERVA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-outline-dark" data-toggle="tab" href="#eliminar_reserva">ELIMINAR RESERVA</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active show" id="hacer_reserva">
                <app-form #formulario></app-form>
            </div>
            <div class="tab-pane fade" id="modificar_reserva">
                <!-- alerta -->
                <div class="col-12 alert alert-dismissible alert-info p-0 my-auto">
                    <p class="pt-2 mb-2"> NOTA: Debe realizar la modificación dias antes de la salida.</p>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
                <!-- formulario -->
                <app-form-buscar #formularioBuscar></app-form-buscar>
            </div>
            <div class="tab-pane fade" id="eliminar_reserva">
                <!-- alerta -->
                <div class="alert alert-dismissible alert-warning p-0 my-auto">
                    <p class="pt-2 mb-2"> NOTA: No habra devolución si excede un dia antes de la salida.</p>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
                <!-- FORMULARIO -->
                <app-form-eliminar #formularioEliminar></app-form-eliminar>
            </div>
        </div>
    </div>
    <!-- FIN TABS -->
    <!-- FORMULARIO -->
    <!-- <div class="row p-5">
        <pre class="p-3">
        {{ formu.usuario | json }}
        </pre>
    </div>
    <div class="row p-5">
        <pre class="p-3">
        {{ formuBuscar.usuario | json }}
        </pre>
    </div>
    <div class="row p-5">
        <pre class="p-3">
        {{ formuEliminar.usuario | json }}
        </pre>
    </div> -->

</div>