<div class="row">
    <h1 class="mx-auto animated fadeIn"><span>TERMINAL DE BUSES DE LA PAZ</span></h1>
        <div class="col-md-8 animated fadeIn fast">
            <div class="carousel slide" id="demo" data-ride="carousel">
                <!--indicadores-->
                <ul class="carousel-indicators">
                    <li data-target="demo" data-slider-to="0" class="active"></li>
                    <li data-target="demo" data-slider-to="1"></li>
                    <li data-target="demo" data-slider-to="2"></li>
                    <li data-target="demo" data-slider-to="3"></li>
                </ul>
                <!--imagenes-->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/img/img1.jpeg" alt="imagen1" class="img-fluid d-block w-100">
                        <div class="carousel-caption">
                            <h3>primer titulo</h3>
                            <p>Esta es la descripcion de la imagen 1</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/img2.jpeg" alt="imagen2" class="img-fluid d-block w-100">
                        <div class="carousel-caption">
                            <h3>segundo titulo</h3>
                           <p>Esta es la descripcion de la imagen 2</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/img3.jpeg" alt="imagen3" class="img-fluid d-block w-100">
                        <div class="carousel-caption">
                            <h3>tercer titulo</h3>
                            <p>Esta es la descripcion de la imagen 3</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/img4.jpeg" alt="imagen4" class="img-fluid d-block w-100">
                        <div class="carousel-caption">
                            <h3>cuarto titulo</h3>
                            <p>Esta es la descripcion de la imagen 4</p>
                           </div>
                    </div>
                </div>
                <!--controles de la izquieda y derecha-->
                <a href="#demo" class="carousel-control-prev" data-slide="prev"><span class="carousel-control-prev-icon"></span></a>
                <a href="#demo" class="carousel-control-next" data-slide="next"><span class="carousel-control-next-icon"></span></a>
            </div>
        </div>

        <div class="col-md-4 card border-primary mb-3 animated fadeIn fast">
            <form>
                <fieldset>
                    <legend class="pt-4"><h2>CONTÁCTANOS</h2></legend>
                    <div class="form-group">
                        <label class="col-form-label col-form-label-lg" for="inputLarge">Nombre</label>
                        <input class="form-control form-control-lg" type="text" placeholder="Nombre *" id="inputLarge">
                    
                        <label for="exampleInputEmail1">Correo Electronico</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail *">
                        <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu correo electrónico con nadie más.</small>
                    
                        <label for="exampleTextarea">Mensaje</label>
                        <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Mensaje *"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
                </fieldset>
            </form>
        </div>
</div>
<br>
