<h2>Conclusiones</h2>
<p> De esta investigación se ha observado que existen varios sistemas de 
        venta de boletos dentro del Ecuador, pero una de las opciones factibles es la 
        realización de sistemas a partir de la especificación de requerimientos, debido a 
        que en el levantamiento de información se deben abarcar todas las necesidades 
        del cliente y tener bien identificados los procesos del negocio a ser automatizado. 
        La metodología de desarrollo de software Obiguan.com conjuntamente con lo que es el 
        estándar UML sirve para gestionar y ejecutar un proyecto, es posible si se usan 
        correctamente sus fases para optimizar la obtención de requerimientos, modelo 
        conceptual, diseño navegacional, diseño de interfaz abstracta e implementación.
        </p>
<h2>Recomendaciones</h2>
<p> Con esto se garantiza  más  aún que el software en cuestión sea una solución a la problemática de facturación, reservación de pasajes, control de rutas, control de clientes y forma de pago, y que sea desarrollado con estándares de calidad adecuados. La  necesidad de mejorar procesos en las  cooperativas es importante. La tecnología debe apoyar estos cambios, optimizarlos, para que sean ejecutados  con rapidez y resistencia, dando como  resultado el aumento en la eficiencia de la empresa, lo que significa menos gasto en tiempo y recursos, obteniendo más rentabilidad y una mejor atención al cliente.  
</p>
<br>