<h2>Tabla de contenido</h2>
<h3>INTRODUCCIÓN</h3>
<p>La Terminal de Buses de La Paz es una estación de buses que sirve a la ciudad de La Paz, Bolivia. Se encuentra en la plaza Antofagasta sobre la Av. Uruguay y la Av. Perú.</p>
<p>La Terminal de Buses de La Paz no es solamente el sitio de partida y llegada de todos los buses interdepartamentales e internacionales de la ciudad, sino también un edificio con su propia historia y encanto, un verdadero patrimonio arquitectónico, histórico y cultural de la ciudad de La Paz.</p>
<p>La Terminal es el punto de partida y llegada de buses Internacionales entre La Paz y Chile, Argentina, y Perú. También es aquí que salen y llegan los buses entre La Paz y Copacabana, Uyuni, Oruro, Potosí, Sucre, Cochabamba, Tarija, y Santa Cruz. Si quieres viajar en bus de La Paz a Cusco, de La Paz a Copacabana, o de La Paz a Uyuni, por ejemplo, este es tu punto de partida.</p>
<h3>ANTESEDENTES</h3>
<p>Su estructura metálica data del Siglo XIX y estaba inicialmente destinada a la construcción de la Estación Ferroviaria Guaqui – La Paz, financiada por la Bolivia Railway Company. Su diseño fue realizado por el arquitecto francés Alexandre Gustave Eiffel (conocido por la edificación de la Torre Eiffel en París) y levantada por el constructor catalán Miguel Nogué.</p>
<p>Fue utilizada como aduana en 1925 y fue cedida para su utilización como Terminal de Buses en 1980 por el alcalde Raúl Salmón de la Barra. Su aniversario es el 16 de noviembre. Las estructuras metálicas de la misma fueron traídas desde Pittsburg.</p>
<p>A finales de la década de los 70, el crecimiento de la población y la importancia de los servicios de transporte interdepartamental e internacional hicieron necesaria la centralización de la llegada y salida del transporte interprovincial, interdepartamental e internacional de pasajeros y carga. Así, lo que tenía que ser estación de tren fue adaptado y en 1980 empezó a funcionar formalmente como Terminal de Buses.</p>
<h3>PLANTEAMIENTO DEL PROBLEMA</h3>
<p>En la terminal existe un afluencia de pasajeros que se incrementa en los días de feriado esto conlleva a una mayor demanda de los pasajes/boletos a su vez un mayor tiempo de espera para la compra del boleto.</p>
<hr>
<h3>ÁRBOL DE PROBLEMA</h3>
<img src="assets/images/arbol-de-problema.jpg" alt="Arbol de problemas" class="rounded mx-auto d-block img-fluid">
<h3>FORMULACIÓN DEL PROBLEMA</h3>
<p>Tiempo de espera  extendido en la venta de boleto en la terminal de La Paz</p>
<h3>PROPOSITO DEL ESTUDIO</h3>
<p>Minimizar el tiempo de espera de los pasajeros con un  sistema de venta de  y reserva de boletos de la terminal de La Paz.</p>
<p>Este sistema también contara con información útil para todo aquel que desea realizar un viaje al exterior como ser:</p>
<li>Tipo de buses: como ser bus normal, bus semi-cama, bus cama así con sus respectivos precios y capacidad.</li>
<li>Hora de salida de cada bus: indicara el intervalo de tiempo de la salida del primer hasta el último bus, así el pasajero tendrá conocimiento de la hora de salida del bus sin que este se haya acercado al mismo.</li>
<h3>METODOS Y HERRAMIENTAS DE INVESTIGACIÓN</h3>
<p>Usando diagramas de Clases y otros medios para la elaboración del proyecto se creara una página web con contenga todo lo anteriormente nombrado</p>
<h3>PLANIFICACIÓN</h3>
<p>Para la realización de este proyecto se utilizara actividades con un modelo iterativo con base en cascada</p>
<img src="assets/images/planificacion.jpg" alt="planificacion" class="img-fluid rounded mx-auto d-block" style="width: 65%;">
<br>