<h2 class="animated fadeIn">DESARROLLO</h2>
<h3 class="animated fadeIn fast">INTRODUCCIÓN</h3>
<p class="animated fadeIn fast">En los siguientes modelos realizaremos distintas formas de mostrar el modelamiento del sistema de venta y reserva de boletos, sin la necesidad de un cajero ya que sera online se podra modificar la cantidad de boletos y retirar la reserva igualmente.</p>

<h3>Casos de uso de negocio y sistema</h3>
<img src="assets/images/modelado-del-negocio.jpg" alt="modelado-del-negocio" class="img-fluid mx-auto d-block h-30">
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Descripción</th>
      <th scope="col">Permite abrir una cuenta de cliente de viaje la cual le permite realizar cualquiera operación</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Flujo básico</th>
      <td>El cliente solicita la formulario de inscripción al vendedor o jefe  en apertura de cuenta, este le entrega dicho documento para ser llenado, si la cuenta que se desea abrir no es invalida, el cliente deberá llenar en el formulario de inscripción los datos del otro cliente, después se le entregara el documento al especialista y este verificara con los documentos la cuenta que se va abrir no es individual o el documento si la cuenta que se va abrir es individual luego se genera user y contraseña o pin </td>

    </tr>
    <tr>
      <th scope="row">Flujo alternatvo</th>
      <td>Si la verificación de formulario de inscripción fue incorrecta se rechaza dicha boleta y se le informa al cliente.</td>
    </tr>
  </tbody>
</table>
<h3>DIAGRAMAS UML</h3>

<h4>Diagramas casos de uso</h4>
<img src="assets/images/casos-de-uso.jpg" alt="casos-de-uso" class="img-fluid mx-auto d-block">
<h4>Diagramas casos de uso tipo texto</h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col"><strong>Nombre de caso de uso:</strong> Registrar nuevo usuario como pasajero</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><strong>Área:</strong> Registros</th>
    </tr>
    <tr>
      <th scope="row"><strong>Actor(es):</strong> Cliente, sistema.</th>
    </tr>
    <tr>
      <th scope="row"><strong>Resumen:</strong> Permite que el cliente proceda a registrarse con el dominio de pasajero, para tener la facultad de realizar reservas y ventas de boletos. El proceso da curso cuando el usuario cumple todos los requisitos y es posible su registro.</th>
    </tr>
    <tr>
      <th scope="row"><strong>Tipo:</strong> Primario</th>
    </tr>
  </tbody>
</table>
<p>CURSO NORMAL DEL EVENTO</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col"><strong>ACCIONES DEL ACTOR</strong></th>
      <th scope="col"><strong>RESPUESTA DEL SISTEMA</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1. El cliente ingresa al sitio web.</th>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>2.Despliega menú.</td>
    </tr>
    <tr>
      <th scope="row">3. Selecciona la opción de Iniciar sesión. <br>
            4. Selecciona la opción de Nuevo Pasajero
            </th>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>5. Muestra interfaz de Nuevo Usuario. <br>
            6. Solicita los datos del usuario
            </td>
    </tr>
    <tr>
      <th scope="row">7. Ingresa los datos como ser: nombres, apellidos, ci, correo.</th>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>8. Verifica los datos ingresados <br>
        9. Solicita la confirmación</td>
    </tr>
    <tr>
      <th scope="row">10. Confirma los datos de usuario.</th>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>11. Despliega mensaje de aceptación.</td>
    </tr>
    <tr>
      <th scope="row">12. Inicia sesión como pasajero.</th>
      <td>13. Se habilita la opción de reserva y ventas.</td>
    </tr>
  </tbody>

</table>
<h4>Diagramas de secuencia</h4>
<img src="assets/images/diagrama-de-secuencia.jpg" alt="diagrama-de-secuencia" class="img-fluid mx-auto d-block">

<h4>Diagramas de clase</h4>
<img src="assets/images/diagrama-de-clases.jpg" alt="diagrama-de-clases" class="img-fluid mx-auto d-block">

<h4>Diagramas de modelo</h4>
<img src="assets/images/diagrama-de-secuencia2.jpg" alt="diagrama-de-secuencia2" class="img-fluid mx-auto d-block">
<br>